body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  z-index: 997;
}

#globe {
  z-index : 998;
}

.cesium-infoBox {
  color: white;
}

.cesium-button {
  color: white;
  fill: white;
}
